<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="dog.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class = "vani">
<div class = "row ramu">
	<div class="col-md-4 honey">
		<h1>DASHBOARD</h1>
	</div>
	<div class = "col-md-4 gdax">
		always be kind about others 
	</div>
	<div class="col-md-4 boat">
	<nav>
      <uul>
       	<li><a href="place.html"><i class="fa fa-home des" style="font-size: 24px;"><br>home</i></a></li>
        <li><a href="team.html"><i class="fa fa-user-circle-o pes" style="font-size: 24px;"><br>team</i></a></li>
       <li><a href="update.html"><i class="fa fa-clock-o vhw" style="font-size: 24px;"><br>updates</i></a></li>
       <li><a href="donate.html"> <button class="jye">donate money</button></a></li>
   </ul>
</nav>
	</div>
</div>
<h1 id="hada">show some kind for people</h1>
<div class="row">
	<div class="col-md-12">
<img src="gfas.jpg"  class="yoho">
<h3 class="baby">CHARITY FOUNDER:<br>KOTHAPALLI VENKATA SUBBA RAMI REDDY<br>is a man with kind heart.<br>He starts a help desk <br>TO DONATE MONEY TO THE PEOPLE<br>DONATE EVEN A SINGLE RUPEE</h3>
<a href="donate.html"><BUTTON class="reddt">DONATE HERE</BUTTON></a>
<h1 class="tang">YOUR PROFILE STRENGTH</h1>
</div>
</div>
        <div class="row px-3">
            <div class="col">
                <ul id="progressbar">
                    <li class="step0 active " id="step1">Name</li>
                    <li class="step0 active text-center" id="step2">email</li>
                    <li class="step0 text-muted text-right" id="step3">money</li>
                </ul>
            </div> 
        </div>
        <h1 class="mhg">how can i help</h1>
        <h4 class="dash">We want to do more and you can help. By committing a small fraction of your income to protect children in need, you can help save a child and contribute to humanity. You can donate as low as INR 500 per month.

While Save the Children appreciates monthly donations where you choose to donate a small fixed amount monthly for us to be able to plan our programmes for a longer term, a single donation can also help save a child.

You will get your tax exemption certificate within 15 days of your one-time donation (quarterly in case of regular donors, who pledge monthly donations, after their first month’s donation). You will get quarterly updates on how you are making a difference.</h4>
 <div class ="row fan"> 
 	<div class="col-md-4 ban">
                     <i class="fa fa-facebook-f" style="font-size:24px;color: white;padding-top: 70px;padding-left: 50px;"></i>
           <i class="fa fa-twitter" style="font-size:24px;color: white;padding-top: 10px;"></i>
<i class="fa fa-linkedin-square" style="font-size:24px;color: white;padding-top: 10px;"></i>
<i class="fa fa-chrome" style="font-size:24px;color: white;padding-top: 10px;"></i>
<h4 class="user">search on the websites</h4>

 	</div>
 	<div class="col-md-4 hand">
 		<h4>LOCATION</h4>
 		<h5 class="cax">VINUONDA</h5>
 		<h6 class="iuy">always help the poor.be kind,donate atleast one rupee.</h6>
 	</div>
 	<div class="col-md-4 grad">
 		<h3>keep smile always<br>HAVE A NICE DAY</h3>
 	</div>
 </div>  

</body>
</html>