body{
	background-image: url("scan.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.ramu{
	background-image: url("cat.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 130px;
	margin-top: 4px;
}
.honey{
	padding-top: 30px;
	padding-left: 30px;
}

.gdax{
	font-size: 30px;
	margin-left: 250px;
	color: red;
	margin-top: -50px;
}
.boat{
	margin-top: -50px;
	padding-bottom: 10px;
	font-size: 10px;
	padding-top: 20px;

}
.des{
	font-size: 100px;
	margin-left: 900px;
	margin-top: -100px;
	color: black;
}
.pes{
	font-size: 100px;
	margin-left: 980px;
	margin-top: -100px;
	color: black;

}
.vhw{
	font-size: 100px;
	margin-left: 1060px;
	margin-top: -100px;
	color: black;

}
.jye{
	height: 40px;
	width: 150px;
	margin-top: -70px;
	margin-bottom:40px;
	margin-left: 1140px;
	font-size: 20px;
	color: red;
	background-image: url("fat.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.giving{
	height: 500px;
	width: 500px;
	margin-left: 30px;
	margin-top: 20px;
}
.giting{
	height: 300px;
	width: 500px;
	margin-left: 700px;
	margin-top: 150px;
	margin-bottom: 100px;

}
.burn{
	font-size: 20px;
	color: white;
	padding-left: 550px;
	margin-top: -400px;
}
.guy{
	color:white;
	margin-top: -380px;
	margin-bottom: 200px;
}
.fan{
	height: 200px;
	background: orange;
	margin-top: 100px;
}
.mhg{
	padding-top: 90px;
	padding-left: 350px;
	color: white;
}
.dash{
	padding-top: px;
	padding-left: 400px;
	color:;

}
.user{
	padding-left: 40px;
}
.hand{
	margin-left: 600px;
	margin-top: -80px;
}
.cax{
	margin-top: -10px;
}
.iuy{
	margin-top: 40px;
	margin-right: -50px;
}
.grad{
	margin-left: 1060px;
	margin-top: -120px;
}
.pyth{
	background-image: url("tree.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.bus{
	height: 600px;
	width: 1300px;
	margin-top: 20px;
	margin-left: 20px;
}
.jain{
	height: px;
}
.beans{
	height: px;
	margin-left: 150px;
	color: blue;
}
.huh{
	margin-left: -50px;
	color: green;
}
.ngf{
	color: red;
}
.opra{
	background-image: url("mar.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}
.ganga{
	height: 300px;
	width:1200px;
	margin-left: 40px;
	margin-top: 30px;
}
.hebf{
	height: 350px;
}
.mgsn{
	padding-left: 200px;
}



